body[data-theme="light"]{
  --hf-bg-color : #2874a6;
  --hf-text-color : white;
  --n-bg-color : #2874a6;
  --n-text-color : white;
  --sa-title-color : #2874a6;
  --sa-text-color : black;
  --sa-bg-color : white;
}

body[data-theme="dark"]{
  --hf-bg-color : #262626;
  --hf-text-color : white;
  --n-bg-color : #262626;
  --n-text-color : white;
  --sa-title-color : white;
  --sa-text-color : white;
  --sa-bg-color : #333333;
}

body{
  background-color: var(--sa-bg-color)
}

img{
  width: 95%;
  height: 95%;
}

a:link, a:visited, a:active{
  color: white;
  text-decoration: none;
}

a:hover{
  border-bottom: 2px solid black;
  transition-duration: 0.3s;
}

.statistique{
  display: inline-block;
  border: 1px solid white;
  border-radius: 10px;
  background-color: var(--n-bg-color);
  font-size: 3em;
  font-family: monospace;
  width: 19%;
  height: 20%;
  margin: 0.1%;
}

.statistique_icone{
  margin: 0;
  padding: 1%;
  width: 49%;
  height: 100%;
  float: left;
}


.statistique_valeur{
  margin: 0;
  width: 49%;
  height: 100%;
  line-height: 150px;
  float: right;
  text-align: center;
  font-weight: bold;
}
